////
/// @group _settings/
////

/// @param {Number} $size - размер в процентах
/// @param {Bool} $set-absolute - добавить позиционированиее
@mixin absolute-cube ($size, $set-absolute: true) {
	@if ($set-absolute) {
		position: absolute;
	}
	top: (100% - $size) / 2;
	left: (100% - $size) / 2;
	width: $size;
	height: $size;
}

/// @param {Number} $size - размер в процентах
/// @param {Bool} $set-absolute - добавить позиционированиее
@mixin absolute-gap($size, $set-absolute: true) {
	@if ($set-absolute) {
		position: absolute;
	}
	top: $size;
	right: $size;
	left: $size;
	bottom: $size;
}
