<%
	/**
	 * @name forms/demo-form-phone-mask.ejs */

	// Выгружаем инструменты
	const {FormInput, Button} = app.el;
%>
<div class="demo">
	<div class="title title--size-h3">Числа</div>
	<form class="form js-init" method="post" data-ajax="./hidden/response/demo.json">
		<div class="form-group">
			<%- new FormInput.PhoneMask({
				value: '+380',
				placeholder: 'phone mask',
				name: 'phone-mask'
			}) %>
		</div>

		<div class="form-group">
			<%- new Button.Submit() %>
			<%- new Button.Reset() %>
		</div>
	</form>
</div>
