<%
	/**
	 * @name forms/demo-form-equal.ejs */

	// Выгружаем инструменты
	const {FormInput, Button} = app.el;
%>
<div class="demo">
	<div class="title title--size-h3">equalTo</div>
	<form class="form js-init" method="post" data-ajax="./hidden/response/demo.json">
		<div class="form-group">
			<label class="form-group__label" for="password-in">Новый пароль</label>
			<%- new FormInput({
				type: 'password',
				placeholder: 'password',
				id: 'password-in',
				name: 'password-in'
			}) %>
		</div>

		<div class="form-group">
			<label class="form-group__label" for="password-equal">Повторите пароль</label>
			<%- new FormInput({
				type: 'password',
				placeholder: 'password',
				id: 'password-equal',
				name: 'password-equal',
				dataRuleEqualto: `[name="password-in"]`
			}) %>
		</div>

		<div class="form-group">
			<%- new Button.Submit() %>
			<%- new Button.Reset() %>
		</div>
	</form>
</div>
