<%
/** примеры кнопок
 * @name ui-demo/title */
%>
<div class="container">
	<div class="grid grid--1 grid--md-2 grid--space-xl">
		<div class="gcell">
			<div class="title title--size-h1">Title. Size h1</div>
			<div class="title title--size-h2">Title. Size h2</div>
			<div class="title title--size-h3">Title. Size h3</div>
			<div class="title title--size-h4">Title. Size h4</div>
			<div class="title title--size-h5">Title. Size h5</div>
			<div class="title title--size-h6">Title. Size h6</div>
		</div>
		<div class="gcell">
			<div class="title title--light title--size-h1">Title light. Size h1</div>
			<div class="title title--light title--size-h2">Title light. Size h2</div>
			<div class="title title--light title--size-h3">Title light. Size h3</div>
			<div class="title title--light title--size-h4">Title light. Size h4</div>
			<div class="title title--light title--size-h5">Title light. Size h5</div>
			<div class="title title--light title--size-h6">Title light. Size h6</div>
		</div>
		<div class="gcell">
			<div class="title">Custom title.</div>
		</div>
	</div>
</div>
