<%
/** пример формы обратного звонка
 * @name callback.ejs */

/** установка лейаута всплывающего окна */
app.setLayout('_hidden.ejs');

/** расширение глобального объекта app
 * @see module:core */
app.require('core.js')(app);

const {SvgIcon} = app.el;
const {media} = app.module;

%><div class="popup popup--wysiwyg">
	<div class="container">
		<div class="title _text-center">Policy </div>

		<div class="wysiwyg _mb-lg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi doloribus eius enim eos eum inventore molestiae molestias nam numquam odit quam quod repellendus rerum ullam velit, voluptas. Enim, ex!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolores eos laboriosam minima ut. Accusantium consequuntur deleniti et nisi porro quas rem repudiandae! Asperiores consequuntur error eum harum labore nemo nesciunt odio perferendis porro voluptates! Accusamus, delectus error impedit inventore ipsam laborum laudantium odio placeat porro provident, ratione, tenetur voluptates.</p>
		</div>

		<div class="grid _justify-center">
			<div class="button js-init" data-mfp="ajax" data-mfp-src="hidden/register.php"><span>Back to register</span></div>
		</div>

	</div>
</div>
