<%
	/** шапка сайта
	 * @name header.ejs */

	// выгружаем инструменты
	const {views, currentView , indexHref} = app.data;
	const {media} = app.module;
	const {SvgIcon} = app.el;
%>

<header class="header js-fixHeaderWrap">
	<div class="header__wrap js-fixHeader">
		<div class="header__top">
			<div class="container">
				<div class="grid _justify-between">
					<div class="gcell">
						<div class="option">
							<div class="header__face">
								<div id="fb-root"></div>
								<script>(function(d, s, id) {
										var js, fjs = d.getElementsByTagName(s)[0];
										if (d.getElementById(id)) return;
										js = d.createElement(s); js.id = id;
										js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
										fjs.parentNode.insertBefore(js, fjs);
									}(document, 'script', 'facebook-jssdk'));</script>
								<div class="fb-like"
										data-href="http://gameboosting.zzz.com.ua"
										data-layout="button_count"
										data-action="like"
										data-colorscheme="dark"
										data-size="small"
										data-show-faces="false"
										data-share="false"></div>
							</div>

							<div class="option__block">
								<div class="option__head" data-toggle-btn="currency">
									<span>EUR, €</span>
								</div>
								<div class="option__cnt" data-toggle-cnt="currency">
									<a href="#" class="option__item has-active">EUR, €</a>
									<a href="#" class="option__item">USD, $</a>
								</div>
							</div>
						</div>

					</div>
					<div class="gcell">
						<div class="option">
							<div class="option__block">
								<div class="option__head">
									<div class="option__enter js-init" data-mfp="ajax" data-mfp-src="hidden/login.php">Members Area</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header__main">
			<% if (currentView.name === views.index.name) { %>
			<a class="header__logo">
				<img src="<%- media('assets/css/static/pic/logo.png')%>" alt="">
			</a>
			<% } else { %>
			<a href="<%- views.index.href %>" class="header__logo">
				<img src="<%- media('assets/css/static/pic/logo.png')%>" alt="">
			</a>
			<% } %>


		</div>
		<div class="header__menu">
			<div class="container">
				<%- app.widget('blocks/menu.ejs') %>
			</div>
		</div>
	</div>

</header>

