////
/// @group _blocks/
////

/// Description
.scroll-up {
	$t: map-get($transitions, normal);
	position: fixed;
	z-index: 100;
	right: 2rem;
	bottom: 2rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity $t, visibility $t;

	&--show {
		opacity: 1;
		visibility: visible;
	}
}
