<div class="menu">
    <ul>
        <li class="menu__navigation">
            <a href="#">Site Navigation</a>
            <ul>
                <li>
                    <a href="#">Game News</a>
                </li>

                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">league of legends</a>
            <ul>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
            </ul>
        </li>
        <li><a href="#">dota</a></li>
        <li><a href="#">rainbow</a></li>
        <li><a href="#">Hearthstone</a></li>
        <li><a href="#">Rocket League</a> </li>
        <li>
            <a href="#">Owerwatch</a>
        </li>
        <li>
            <a href="#">Other</a>
            <ul>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum.</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
